* {
  font-family: 'Josefin Sans', sans-serif; /*Light 300 Italic   Regular 400   Bold 700 */
  margin: 0px;
  padding: 0px;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  background-color: #0c2431;
  padding: 16px;
}

.logo {
  color: #e1dad2;
  font-size: 24px;
  padding: 5px 5px 5px 0;
  font-weight: 700;
}

.navbar {
  display: flex;
  margin: 0 120px;
  align-items: center;
}

.navbar ul{
  list-style: none;
  display: flex;
  gap: 12px;
}

.links {
  margin-left: auto;
}

.links a {
  text-decoration: none;
  color: #d6cdc2;
  font-size: 18px;
}

.item {
  padding: 5px;
}

.welcome-content {
  display: flex;
  margin: 0 120px;
  padding: 62px 0;
  gap: 50px;
}

.left-side {
  max-width: 400px;
  flex-grow: 1;
}

.right-side {
  margin-left: auto;
}

.right-side img {
  width: 400px;
  height: 200px;
}

.left-side h1 {
  color: #e1dad2;
  font-size: 48px;
  font-weight: 700;
  line-height: 1;
}

.left-side p {
  color: #d6cdc2;
  font-size: 18px;
  margin-top: 2px;
  margin-bottom: 8px;
} 

.btn {
  all: unset;
  font-weight: 700;
  cursor: pointer;
  width: 85px;
  padding: 5px;
  background-color: #d37556;
  color: #0c2431;
  text-align: center;
  border-radius: .5em;
  border: 2px solid black;
}

.btn:hover {
  background-color: #d9886d;
}

.footer {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: center;
  color: #e1dad2;
  background-color: #0c2431;
  font-size: 14px;
  margin-top: auto;
  flex-shrink: 0;
}

.content {
  display: flex;
  flex-direction: column;
}

.content-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
}

.squares-container {
  display: flex;
  gap: 50px;
}

.square-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 150px;
}

.square-text p {
  text-align: center;
  margin: 5px 0;
}

.square-item {
  width: 100px;
  height: 100px;
  border: 2px solid #d37556;
  border-radius: 8%;
  padding: 5px;
  margin: 5px;
}

.content-top h2 {
  padding: 20px;
  margin: 10px 0;
  font-size: 28px;
}