* {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  padding: 0px;
}

body {
  height: 100vh;
}

.header {
  display: flex;
  flex-direction: column;
  background-color: #1f2937;
  padding: 16px;
}

.logo {
  color: #f9faf8;
  font-size: 24px;
  padding: 5px;
  font-weight: 900;
}

.navbar {
  display: flex;
  margin: 0 120px;
  align-items: center;
}

.navbar ul{
  list-style: none;
  display: flex;
  gap: 12px;
}

.links {
  margin-left: auto;
}

.links a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

.item {
  padding: 5px;
}

.welcome-content {
  display: flex;
  margin: 0 120px;
  padding: 62px 0;
}

.left-side {
  max-width: 450px;
  flex-grow: 1;
}

.right-side {
  margin-left: auto;
  flex-shrink: 0;
}

.right-side img {
  width: 450px;
  height: 200px;
}

.left-side h1 {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
  line-height: 1;
}

.left-side p {
  color: #e5e7eb;
  font-size: 18px;
  margin-top: 2px;
  margin-bottom: 8px;
} 

.btn {
  all: unset;
  cursor: pointer;
  width: 85px;
  padding: 5px;
  background-color: #3882f6;
  color: #f9faf8;
  text-align: center;
  border-radius: .5em;
}